.women-products{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    margin-left: 10px;
    grid-gap: 10px;
}

.women-content-box{
    padding-top: 10px;
}

.women-product-image{
    height: 360px;
}

.women-image-size{
    width: 100%;
    height: 100%;
}

.women-product-name,
.women-product-price{
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}

.women-product-price{
    float: right;
}

// ****--Responsive Area--****
@media screen and (max-width: 768px){
    .women-products{
        grid-gap: 7px;
    }
    .women-product-name,
    .women-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 570px){
    .women-products{
        margin-left: 5px;
        grid-gap: 6px;
    }
    .women-product-name,
    .women-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 425px){
    .women-products{
        margin-left: 8px;
        grid-template-columns: 48% 48%;
        grid-gap: 8px;
    }

    .women-product-name,
    .women-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 375px){
    .women-products{
        margin-left: 8px;
        grid-template-columns: 48% 48%;
        grid-gap: 8px;
    }

    .women-product-name,
    .women-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 320px){
    .women-products{
        margin-left: 8px;
        grid-template-columns: 48% 48%;
        grid-gap: 5px;
    }

    .women-product-name,
    .women-product-price{
        font-size: 18px;
    }
}