.accessory-products{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 24% 24% 24% 24%;
}

.accessory-content-box{
    padding-top: 10px;
}

.accessory-product-image{
    height: 360px;
}

.accessory-image-size{
    width: 100%;
    height: 100%;
}

.accessory-product-name,
.accessory-product-price{
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}

.accessory-product-price{
    float: right;
}

// ****--Responsive Area--****
@media screen and (max-width: 1024px){
    .accessory-products{
        width: 99%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px){
    .accessory-products{
        grid-gap: 7px;
    }
    .accessory-product-name,
    .accessory-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 570px){
    .accessory-products{
        margin-left: 5px;
        grid-gap: 6px;
    }
}

@media screen and (max-width: 425px){
    .accessory-products{
        margin-left: 8px;
        grid-template-columns: 48% 48%;
        grid-gap: 8px;
    }
}

@media screen and (max-width: 320px){
    .accessory-products{
        margin-left: 7px;
        grid-gap: 5px;
    }
}