.sign-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-row,
.right-row{
    width: 35%;
    height: 55vh;
    margin-top: 30px;
}

.signup,
.login{
    padding-top: 5px;
}

.input-field input[type=text]:focus:not([readonly]) + label,
.input-field input[type=email]:focus:not([readonly]) + label,
.input-field input[type=password]:focus:not([readonly]) + label{
    color: #9e9e9e ;
}

.input-field input[type=text]:focus:not([readonly]),
.input-field input[type=email]:focus:not([readonly]),
.input-field input[type=password]:focus:not([readonly]){
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}

.btn-login,
.btn-signup,
.btn-switch{
    margin-top: 8px;
    padding: 8px 16px;
    background-color: rgba(120, 120, 120, 0.6) !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover,
.btn-signup:hover,
.btn-switch:hover{
    color: white;
    background-color:black !important;
}

.switch-area{
    height: 15vh;
}

.error-msg{
    color: red;
}