.men-products{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px; //網格間隙寬
    grid-template-columns: 24% 24% 24% 24%; //決定網格的列數跟寬
}

.men-content-box{
    padding-top: 10px;
}

.men-product-image{
    height: 360px;
}

.men-image-size{
    width: 100%;
    height: 100%;
}

// .btn-cart{
//     display: none;
// }

// .men-product-image:hover > .btn-cart{
//     display: block;
//     top: 90%;
//     left: 50%;
//     position: absolute;
//     transform: translate(-50%, -50%);
//     padding: 10px 10px;
//     border: none;
//     border-radius: 5px;
//     background-color: rgba(255, 255, 255, 0.6);
//     cursor: pointer;
// }

.men-product-name,
.men-product-price{
    font-family: 'Crimson Text', serif;
    font-size: 23px;
}

.men-product-price{
    float: right;
}

// ****--Responsive Area--****
@media screen and (max-width: 1024px){
    .men-products{
        width: 99%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px){
    .men-products{
        grid-gap: 7px;
    }
    .men-product-name,
    .men-product-price{
        font-size: 18px;
    }
}

@media screen and (max-width: 570px){
    .men-products{
        margin-left: 5px;
        grid-gap: 6px;
    }
}

@media screen and (max-width: 425px){
    .men-products{
        margin-left: 8px;
        grid-template-columns: 48% 48%;
        grid-gap: 8px;
    }
}

@media screen and (max-width: 320px){
    .men-products{
        margin-left: 7px;
        grid-gap: 5px;
    }
}