.header{
    display: flex;
    justify-content: space-around;
}

.logo-area{

}

.logo{
    width: 100px;
    cursor: pointer;
}

.link-area{
    
}

.head-ul{
    padding: 0;
}

a:link,
a:visited{
    color: black;
}

.head-li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px 0 20px;
}

